$color-primary:#ecf8ff;
$color-secondary:#a71e1e;
$color-white:#ffffff;
$color-alt:#11a2ce;
$font-header: 'Shrikhand',
cursive;
$font-body: 'Lato',
sans-serif;
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-family: $font-body;
}

h1,
h2 {
    font-family: $font-header;
    font-weight: 100;
    color: $color-secondary;
}

.grid-tiles {
    display: flex;
    flex-wrap: wrap;
    >* {
        background-position: center;
        background-size: cover;
        width: 100%;
        margin-top: 2%;
        width: 49%;
        &:nth-child(odd) {
            margin-right: 2%;
        }
        &:before {
            content: "";
            float: left;
            padding-top: 100%;
        }
    }
}

#app {
    width: 100%;
    height: 100%;
    text-align: center;
    color: $color-alt;
    background-color: $color-primary;
}

.screen-wrapper {
    height: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    >div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .scroll {
        overflow-y: scroll;
    }
}

.align-center {
    width: 100%;
    align-self: center;
}

.expand {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.results {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background: $color-white;
    li {
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0.5rem 0;
        
        span {
            text-align: left;
            flex:1;
        }
        .mdi { 
            font-size: 1.25rem;
            margin-left: .5rem;
        }
    }
}

.btn-stack {
    .btn {
        border-radius: 0;
        display: block;
        border-bottom: 1px solid darken($color-secondary, 6.125%);
        &:first-child {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }
        &:last-child {
            border-bottom-left-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
            border-bottom: none;
        }
    }
}

.btn-group {
    flex-direction: row;
    display: flex;
    .btn {
        border-radius: 0;
        border-right: 1px solid darken($color-secondary, 6.125%);
        &:first-child {
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }
        &:last-child {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
            border-right: none;
        }
    }
}

.btn {
    display: block;
    padding: 1rem;
    flex: 1;
    line-height: 1;
    min-height: 1rem;
    color: $color-white;
    background: $color-secondary;
    border-radius: 0.25rem;
    text-decoration: none;
    &:hover {
        background: lighten($color-secondary, 6.125%);
    }
}

.cancel {
    position: fixed;
    top: .5rem;
    right: .5rem;
    font-size: 2rem;
    line-height: 1;
    background-color: transparentize( $color-alt, 0.5);
    color: $color-white;
    border-radius: 3rem;
}

.hr {
    display: block;
    padding: 1.5rem 0.5rem;
}